<div class="row mb-2">
  <div class="col-md-6" *ngFor="let product of products">
    <app-product [producto]="product"></app-product>
  </div>
</div>

<div class="">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" (click)="previousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of pages; let i = index">
      <a class="page-link" (click)="getPage(i)">{{ i + 1 }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
