<div class="row mb-2">
  <div class="col-md-6" *ngFor="let buy of buys">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Factura: {{ buy.id }}</h3>
        <p class="card-text mb-auto">Id: {{ buy.clientId }}</p>
        <p class="card-text mb-auto">Nombre: {{ buy.clientName }}</p>
        <p class="card-text mb-auto">Fecha: {{ buy.date }}</p>
        <p class="card-text mb-auto">Productos: {{ buy.products.length }}</p>
        <br />
      </div>
    </div>
  </div>
</div>

